@charset "utf-8";
/* CSS Document */
 
body {
	font-family: 'segoe ui';
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
.inner-container {
	margin: auto;
	width: 98%;
}
.logo-heading span {
	
}
.logo-heading {
	font-size: 14px;
	float: left;
	text-transform: capitalize;
	color: #fff;
}
.main-header {
	background: #03324f;
	padding: 10px 0px;
}
.menu-side-right {
	float: right;
}
.menu-side-right ul {
	margin: 0px;
	padding: 0px;
}
.menu-side-right ul li {
	list-style: none !important;
	position: relative;
	float: left;
	padding: 0px 5px;
	color: #fff;
}
.menu-side-right ul li a {
	color: #fff !important;
	text-decoration: none !important;
}
.profile-log img {
	float: left;
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.profile-log label {
	float: left;
	position: relative;
	top: 1px;
}
.task-header {
	background: #00446d;
	border-bottom: 1px solid #03324f;
	border-top: 1px solid #03324f;
	height: 36px;
}
.clear {
	clear: both;
}
.btn-view {
	display: inline-block;
	padding: 10px 5px;
	padding-right: 10px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.btn-view img {
	float: left;
}
.disable {
	opacity: 0.3;
	cursor: default !important;
}
.active {
	box-shadow: 0px -3px 0px 0px #ff8c21 inset;
	position: relative;
	top: 0px;
	min-height: 21px;
}
.db-list-container {
	width: 270px;
	float: left;
	height: 100vh;
	
	background: #00446d;
}
.db-manager-container {
	width: calc(100% - 270px);
	float: left;
}
ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 1px solid #03324f;
	float: left;
	width: 100%;
}
.db-list-container ul.tabs li {
	background: #00446d;
	color: #ffffff;
	display: inline-block;
	padding: 11px 0px;
	cursor: pointer;
	width: 33%;
	text-align: center;
	box-shadow: 1px 0px 0px 0px #03324f inset;
	float: left;
}
ul.tabs li.current {
	background: #00446d;
	color: #fff;
	box-shadow: 0px -3px 0px 0px #33c3e5 inset;
	position: relative;
	top: 0px;
}
.orange_btn img {
	float: left;
}
.orange_btn {
	background: #ff8c21;
	font-family: 'segoe ui';
	cursor: pointer;
	outline: none !important;
	border: 1px solid #ff8c21;
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 4px;
	line-height: 20px;
	margin: 10px 0px;
}
.tab-content {
	display: none;
	padding: 0px 0px;
	float: left;
	width: 100%;
}
.tab-content.current {
	display: inherit;
}
.FilterField {
	padding: 10px 0px;
	text-align: center;
}
.Filter {
	padding: 5px 10px;
	width: 70%;
	border: 1px solid #03324f;
	border-radius: 5px;
	font-family: 'segoe ui';
	background: #03324f;
}
button {
	font-family: 'segoe ui';
}
input {
	font-family: 'segoe ui';
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
textarea {
	font-family: 'segoe ui';
	resize: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.db-list-view {
}
.db-list-view ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.db-list-view ul li img {
	float: left;
	margin-right: 5px;
}
.db-list-view ul li {
	
	padding: 12px 20px;
	color: #fff;
	font-size: 12px;
}
.db-list-view ul li:hover {
	background: #0c5886;
}
.db-innerspace {
	padding: 0px 0px 10px 0px;
}

.inner-heading {
	font-size: 20px;
}
.form-group {
	margin-bottom: 5px;
}
.row {
	float: left;
	width: 100%;
}
.details-container .col-form-label {
	float: left;
	width: 25%;
	padding: 5px 0px;
}
.details-container .col-form-field {
	float: left;
	width: 75%;
}
.dialog-content .col-form-label {
	float: left;
	width: 25%;
	padding: 5px 0px;
}
.dialog-content .col-form-field {
	float: left;
	width: 73%;
}
.form-control {
	width: 98%;
	padding: 8px 5px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
}
.bd-example {
	padding: 20px 0px;
}
.check_image {
	display: inline-block;
	margin-right: 20px;
}
.check_image input[type="checkbox"] {
	display: none;
}
.check_image input[type="checkbox"] + label {
	color: #333;
	font-weight: normal;
}
.check_image input[type="checkbox"] + label {
	display: inline-block;
	min-height: 22px;
	vertical-align: middle;
	background: url(../images/checkFalse.png) left top no-repeat;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	text-indent: 28px;
	word-wrap: normal;
}
.check_image input[type="checkbox"]:checked + label {
	background: url(../images/checkTrue.png) left top no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.check_image input[type="radio"] {
	display: none;
}
.check_image input[type="radio"] + label {
	color: #333;
	font-weight: normal;
}
.check_image input[type="radio"] + label {
	display: inline-block;
	min-height: 22px;
	vertical-align: middle;
	background: url(../images/checkFalse.png) left top no-repeat;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	text-indent: 28px;
	word-wrap: normal;
}
.check_image input[type="radio"]:checked + label {
	background: url(../images/checkTrue.png) left top no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.test-btn {
	color: #333;
	background: #ddd;
	border: 0px;
	padding: 8px 15px;
	border-radius: 2px;
	cursor: pointer;
	min-width: 90%;
	font-weight: 600;
}
.save-btn {
	color: #fff;
	background: #47d071;
	border: 0px;
	padding: 8px 15px;
	border-radius: 2px;
	cursor: pointer;
}
.cancel-btn {
	color: #333;
	background: #ddd;
	border: 0px;
	padding: 8px 15px;
	border-radius: 2px;
	cursor: pointer;
}
.text-right {
	text-align: right;
}
.popup-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.3);
	z-index: 999;
}
.popup-dialog {
	background: #fff;
	width: 500px;
	margin: 3% auto 0px auto;
	border-top: 5px solid #03324f;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
	right: 0px;
	left: 3%;
}
.popup-heading {
	padding: 10px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
	background: #00446d;
	color: #fff;
}
.close-popup {
	float: right;
	cursor: pointer;
}
.dialog-content {
	padding: 10px;
	background: #fff;
}
.basic-fields {
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.basic-fields h2 {
	font-size: 13px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
}
p {
	margin: 0px;
	padding: 5px 0px;
}
.multiple-check {
	padding: 10px 0px 0px 0px;
}
.task-options {
	padding: 10px 0px;
	text-align: center;
}
.task-box {
	position: relative;
	background: #c2e1f5;
	border: 4px solid #c2e1f5;
}
.task-box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.task-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #c2e1f5;
	border-width: 10px;
	margin-left: -10px;
}
.task-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
.task-item {
	width: 130px;
	display: inline-block;
	margin: 10px;
}
.task-box img {
	max-width: 70px;
}
.task-name-bottom {
	position: relative;
	top: 10px;
	font-weight: 600;
}
.popup-footer {
	padding: 10px;
	background: #eee;
}
.Drag_Db-Container {
	width: 300px;
	position: relative;
	height: 450px;
	border-right: 1px solid #ddd;
	height: 88vh;
}
.Drag_Db-LineSeperate {
	width: 1px;
	background: #ccc;
	position: absolute;
	height: 70%;
	left: 150px;
}
.Drag_Db-Source {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px dashed #aaa;
	background: #eee;
	position: absolute;
	left: 115px;
	text-align: center;
	font-size: 10px;
}
.Drag_Db-Target {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px dashed #aaa;
	background: #eee;
	position: absolute;
	left: 115px;
	bottom: 18%;
	text-align: center;
	font-size: 10px;
}
.Drag_placeholder {
	margin-top: 19px;
	display: inline-block;
	color: #999;
	padding: 0px 6px;
}
.resizeDiv {
	border: 1px dashed #CCC;
	background-color: #FFFFEE;
	width: 100px;
	height: 25px;
	min-height: 25px;
	min-width: 25px;
	cursor: move;
	position: absolute;
	top: 10px;
	left: 10px;
}
#resizeDiv:hover {
	border: 1px solid #999;
	background-color: #EEE;
}
#container1 {
	width: 300px;
	height: 200px;
	position: relative;
	border: 1px solid black;
}
#container2 {
	width: 500px;
	height: 200px;
	position: relative;
	border: 1px solid black;
}
#Drop_Source-container {
	position: relative;
	z-index: 9;
}
.droped {
	list-style: none !important;
}
.droped label {
	display: block;
	color: #555;
	height: 0px;
}
.droped li span {
	position: relative;
	top: 16px;
}
.Drag_Db-Refresh {
	width: 40px;
	height: 40px;
	background: url(../images/refresh.png) no-repeat center center #fff;
	background-size: 60%;
	position: absolute;
	left: 130px;
	top: 205px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.col-form-label {
	float: left;
	width: 28%;
	padding: 5px 0px;
}
.col-form-field {
	float: left;
	width: 70%;
}
.Drag_Target {
	cursor: move;
}
.Drag_Source {
	cursor: move;
}
.AddDatabase {
	font-size: 24px;
	line-height: 17px;
}
.db_mode button {
	background: transparent;
	border: 0px;
	padding: 0px;
}
.db_mode {
	display: inline-block;
	float: right;
}
.db_mode img {
	max-width: 16px;
}
.currentDb {
	background: #0c5886 !important;
}
.task-header .btn-view img {
	padding-right: 4px;
	position: relative;
	top: 1px;
}
.tabcontent {
	display: none;
	width: 100%;
}

.db-tabs ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
	
	background: #00446d;
	
	padding: 6px 0px 0px 0px;
}
.db-tabs ul li {
	display: inline-block;
	float: left;
	background: #00446d;
	cursor: pointer;
	margin-right: 6px;
	border-radius: 3px 3px 0px 0px;
	overflow: hidden;
}
.db-tabs ul li span {
	padding: 8px 20px;
	display: inline-block;
	color: #fff;
	
}
.db-tabs ul li span.activeTb {
	background: #fff !important;
	
	position: relative;
	
	color: #000;
}
.db-tabs-content {
	padding: 10px 26px;
	display: inline-block;
}
.border-right{ border-right:1px solid #03324f;}
.btn-view.current{ box-shadow:0px -3px 0px 0px #33c3e5 inset;}

.task-tabs{}

.task-tabs ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
	background: #00446d;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}
.task-tabs ul li {
	display: inline-block;
	float: left;
	background: #00446d;
	cursor: pointer;
	margin-right: 6px;
	border-radius: 3px 3px 0px 0px;
	overflow: hidden;
	border-left:1px solid #03324f;
	padding-top: 5px;
	padding-left: 8px;
}
.task-tabs ul li span {
	padding: 8px 5px;
	display: inline-block;
	color: #fff;
	
}
.Task_Database-list h2{font-size: 20px;font-weight: 400;margin: 0px;padding: 0px;}
.Task_Database-list{
    width: 210px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    height: 88vh;
}
.Task_Database-list ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}
.Task_Database-list ul li {
    padding: 8px 0px;
    color: #333;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}
 .Task_Database-list ul li img {
    float: left;
    margin-right: 5px;
}

.Task_TblDetail_Container{ display:inline-block; float:left; padding:0px 10px;}
.Tbl_SelectionOptions span img{ float:left; padding-right:5px;  position:relative; top:2px;} 
.Tbl_SelectionOptions span{ float:left;  padding:5px 10px; cursor:pointer; border:1px solid #ddd; margin-right:5px; border-radius:3px;} 
.Table_View table{ border-collapse:collapse; margin:10px 0px;}
.Table_View table tr th{ text-align:left; font-size:12px; background:#eee; color:#333; border:1px solid #eee;padding:5px; font-weight:500;}
.Table_View table tr td{text-align:left;padding:5px;border:1px solid #eee;max-width: 74px;font-size: 10px;}
.droped .db_mode{ display:none;}
#TableSelection-popup .popup-dialog{ min-width:1000px;}
.SourceTable{
    width: 40%;
    float: left;
}
.ListItms_Btn{
    width: 20%;
    float: left;
}
.TablePattern{
    width: 40%;
    float: left;
}
.InnerTbl-PatternSpace{ padding:0px 10px 10px 10px;}
.col-form-field select{ width:100% !important;}

.TableList{}
.TableList{ border-collapse:collapse; margin:10px 0px;}
.TableList tr th{ text-align:left; font-size:12px; background:#eee; color:#333; border:1px solid #eee;padding:5px; font-weight:500;}
.TableList tr td{text-align:left;padding:5px;border:1px solid #eee;max-width: 74px;font-size: 12px;}
.SplitBtnRow{ padding:10px 0px 0px 0px; text-align:center;}
.BtnGrey{border: 1px solid #aaa;padding: 2px 13px;border-radius: 2px;background: #f7f7f7;font-size: 12px;box-shadow: 0px 1px 1px 0px #ccc inset;}









